{{#with comment}}
<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title" id="signup">Edit Comment:</h3>

                <form action="/saveEditedComment" method="POST">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" id="content" name="content" rows="10" required>{{content}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group float-right">
                        <input type="hidden" name="commentId" value="{{commentId}}">
                        <input type="hidden" name="articleId" value="{{articleId}}">
                        <input class="btn btn-light" type="submit" value="Save Changes">
                        <input class="btn btn-light" type="reset" value="Restore Original Text">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{{/with}}